@NODE	0
packet_to_destination_rate	1	0.01
@NODE	0
packet_to_destination_rate	2	0.002
@NODE	0
packet_to_destination_rate	6	0.002
@NODE	0
packet_to_destination_rate	13	0.001
@NODE	0
packet_to_destination_rate	23	0.001
@NODE	0
packet_to_destination_rate	43	0.001
@NODE	0
packet_to_destination_rate	44	0.001
@NODE	1
packet_to_destination_rate	2	0.014
@NODE	1
packet_to_destination_rate	6	0.006
@NODE	1
packet_to_destination_rate	7	0.001
@NODE	1
packet_to_destination_rate	21	0.003
@NODE	2
packet_to_destination_rate	4	0.001
@NODE	2
packet_to_destination_rate	5	0.002
@NODE	2
packet_to_destination_rate	7	0.002
@NODE	2
packet_to_destination_rate	8	0.001
@NODE	2
packet_to_destination_rate	9	0.002
@NODE	2
packet_to_destination_rate	11	0.001
@NODE	2
packet_to_destination_rate	13	0.001
@NODE	2
packet_to_destination_rate	17	0.001
@NODE	2
packet_to_destination_rate	18	0.001
@NODE	2
packet_to_destination_rate	20	0.002
@NODE	2
packet_to_destination_rate	21	0.001
@NODE	2
packet_to_destination_rate	22	0.001
@NODE	2
packet_to_destination_rate	23	0.001
@NODE	2
packet_to_destination_rate	24	0.002
@NODE	2
packet_to_destination_rate	25	0.001
@NODE	2
packet_to_destination_rate	28	0.001
@NODE	2
packet_to_destination_rate	30	0.001
@NODE	2
packet_to_destination_rate	31	0.001
@NODE	2
packet_to_destination_rate	36	0.001
@NODE	2
packet_to_destination_rate	38	0.001
@NODE	2
packet_to_destination_rate	40	0.001
@NODE	2
packet_to_destination_rate	41	0.001
@NODE	2
packet_to_destination_rate	42	0.001
@NODE	2
packet_to_destination_rate	43	0.001
@NODE	2
packet_to_destination_rate	44	0.001
@NODE	2
packet_to_destination_rate	48	0.001
@NODE	3
packet_to_destination_rate	4	0.015
@NODE	3
packet_to_destination_rate	5	0.005
@NODE	3
packet_to_destination_rate	6	0.005
@NODE	3
packet_to_destination_rate	8	0.001
@NODE	3
packet_to_destination_rate	17	0.001
@NODE	3
packet_to_destination_rate	24	0.001
@NODE	3
packet_to_destination_rate	30	0.001
@NODE	4
packet_to_destination_rate	5	0.008
@NODE	4
packet_to_destination_rate	6	0.001
@NODE	4
packet_to_destination_rate	7	0.001
@NODE	4
packet_to_destination_rate	9	0.001
@NODE	4
packet_to_destination_rate	11	0.001
@NODE	4
packet_to_destination_rate	13	0.001
@NODE	4
packet_to_destination_rate	17	0.002
@NODE	4
packet_to_destination_rate	18	0.001
@NODE	4
packet_to_destination_rate	20	0.001
@NODE	4
packet_to_destination_rate	22	0.003
@NODE	4
packet_to_destination_rate	23	0.001
@NODE	4
packet_to_destination_rate	24	0.002
@NODE	4
packet_to_destination_rate	25	0.001
@NODE	4
packet_to_destination_rate	28	0.001
@NODE	4
packet_to_destination_rate	30	0.002
@NODE	4
packet_to_destination_rate	31	0.005
@NODE	4
packet_to_destination_rate	32	0.003
@NODE	4
packet_to_destination_rate	36	0.005
@NODE	4
packet_to_destination_rate	38	0.001
@NODE	4
packet_to_destination_rate	40	0.001
@NODE	4
packet_to_destination_rate	41	0.001
@NODE	4
packet_to_destination_rate	42	0.001
@NODE	4
packet_to_destination_rate	43	0.001
@NODE	4
packet_to_destination_rate	44	0.001
@NODE	4
packet_to_destination_rate	45	0.001
@NODE	4
packet_to_destination_rate	48	0.002
@NODE	5
packet_to_destination_rate	7	0.001
@NODE	5
packet_to_destination_rate	9	0.001
@NODE	5
packet_to_destination_rate	11	0.001
@NODE	5
packet_to_destination_rate	13	0.001
@NODE	5
packet_to_destination_rate	17	0.001
@NODE	5
packet_to_destination_rate	18	0.001
@NODE	5
packet_to_destination_rate	20	0.001
@NODE	5
packet_to_destination_rate	21	0.001
@NODE	5
packet_to_destination_rate	23	0.001
@NODE	5
packet_to_destination_rate	24	0.001
@NODE	5
packet_to_destination_rate	25	0.001
@NODE	5
packet_to_destination_rate	28	0.001
@NODE	5
packet_to_destination_rate	30	0.001
@NODE	5
packet_to_destination_rate	31	0.001
@NODE	5
packet_to_destination_rate	36	0.002
@NODE	5
packet_to_destination_rate	38	0.001
@NODE	5
packet_to_destination_rate	40	0.001
@NODE	5
packet_to_destination_rate	41	0.001
@NODE	5
packet_to_destination_rate	42	0.001
@NODE	5
packet_to_destination_rate	43	0.001
@NODE	5
packet_to_destination_rate	44	0.001
@NODE	5
packet_to_destination_rate	48	0.001
@NODE	6
packet_to_destination_rate	7	0.005
@NODE	6
packet_to_destination_rate	8	0.007
@NODE	6
packet_to_destination_rate	15	0.001
@NODE	6
packet_to_destination_rate	19	0.001
@NODE	6
packet_to_destination_rate	21	0.002
@NODE	6
packet_to_destination_rate	22	0.003
@NODE	6
packet_to_destination_rate	23	0.001
@NODE	7
packet_to_destination_rate	8	0.004
@NODE	7
packet_to_destination_rate	9	0.002
@NODE	7
packet_to_destination_rate	11	0.001
@NODE	7
packet_to_destination_rate	13	0.001
@NODE	7
packet_to_destination_rate	17	0.001
@NODE	7
packet_to_destination_rate	18	0.001
@NODE	7
packet_to_destination_rate	20	0.002
@NODE	7
packet_to_destination_rate	21	0.001
@NODE	7
packet_to_destination_rate	23	0.002
@NODE	7
packet_to_destination_rate	24	0.002
@NODE	7
packet_to_destination_rate	25	0.001
@NODE	7
packet_to_destination_rate	28	0.001
@NODE	7
packet_to_destination_rate	30	0.001
@NODE	7
packet_to_destination_rate	31	0.001
@NODE	7
packet_to_destination_rate	36	0.001
@NODE	7
packet_to_destination_rate	38	0.001
@NODE	7
packet_to_destination_rate	40	0.001
@NODE	7
packet_to_destination_rate	41	0.001
@NODE	7
packet_to_destination_rate	42	0.001
@NODE	7
packet_to_destination_rate	43	0.001
@NODE	7
packet_to_destination_rate	44	0.001
@NODE	7
packet_to_destination_rate	48	0.001
@NODE	8
packet_to_destination_rate	21	0.001
@NODE	8
packet_to_destination_rate	22	0.002
@NODE	8
packet_to_destination_rate	34	0.001
@NODE	8
packet_to_destination_rate	40	0.001
@NODE	9
packet_to_destination_rate	11	0.001
@NODE	9
packet_to_destination_rate	13	0.001
@NODE	9
packet_to_destination_rate	17	0.001
@NODE	9
packet_to_destination_rate	18	0.001
@NODE	9
packet_to_destination_rate	20	0.002
@NODE	9
packet_to_destination_rate	23	0.001
@NODE	9
packet_to_destination_rate	24	0.002
@NODE	9
packet_to_destination_rate	25	0.001
@NODE	9
packet_to_destination_rate	28	0.001
@NODE	9
packet_to_destination_rate	30	0.001
@NODE	9
packet_to_destination_rate	31	0.001
@NODE	9
packet_to_destination_rate	36	0.001
@NODE	9
packet_to_destination_rate	38	0.001
@NODE	9
packet_to_destination_rate	40	0.001
@NODE	9
packet_to_destination_rate	41	0.001
@NODE	9
packet_to_destination_rate	42	0.001
@NODE	9
packet_to_destination_rate	43	0.001
@NODE	9
packet_to_destination_rate	44	0.001
@NODE	9
packet_to_destination_rate	48	0.001
@NODE	10
packet_to_destination_rate	11	0.012
@NODE	10
packet_to_destination_rate	12	0.013
@NODE	11
packet_to_destination_rate	12	0.005
@NODE	11
packet_to_destination_rate	13	0.001
@NODE	11
packet_to_destination_rate	17	0.001
@NODE	11
packet_to_destination_rate	18	0.001
@NODE	11
packet_to_destination_rate	20	0.001
@NODE	11
packet_to_destination_rate	23	0.001
@NODE	11
packet_to_destination_rate	24	0.002
@NODE	11
packet_to_destination_rate	25	0.001
@NODE	11
packet_to_destination_rate	28	0.001
@NODE	11
packet_to_destination_rate	30	0.001
@NODE	11
packet_to_destination_rate	31	0.001
@NODE	11
packet_to_destination_rate	36	0.001
@NODE	11
packet_to_destination_rate	38	0.001
@NODE	11
packet_to_destination_rate	40	0.001
@NODE	11
packet_to_destination_rate	41	0.001
@NODE	11
packet_to_destination_rate	42	0.001
@NODE	11
packet_to_destination_rate	43	0.001
@NODE	11
packet_to_destination_rate	44	0.001
@NODE	11
packet_to_destination_rate	48	0.001
@NODE	12
packet_to_destination_rate	30	0.001
@NODE	12
packet_to_destination_rate	44	0.003
@NODE	13
packet_to_destination_rate	14	0.002
@NODE	13
packet_to_destination_rate	15	0.006
@NODE	13
packet_to_destination_rate	16	0.003
@NODE	13
packet_to_destination_rate	17	0.009
@NODE	13
packet_to_destination_rate	18	0.003
@NODE	13
packet_to_destination_rate	19	0.002
@NODE	13
packet_to_destination_rate	20	0.001
@NODE	13
packet_to_destination_rate	21	0.002
@NODE	13
packet_to_destination_rate	22	0.002
@NODE	13
packet_to_destination_rate	23	0.005
@NODE	13
packet_to_destination_rate	24	0.005
@NODE	13
packet_to_destination_rate	25	0.002
@NODE	13
packet_to_destination_rate	28	0.001
@NODE	13
packet_to_destination_rate	30	0.002
@NODE	13
packet_to_destination_rate	31	0.001
@NODE	13
packet_to_destination_rate	34	0.001
@NODE	13
packet_to_destination_rate	35	0.004
@NODE	13
packet_to_destination_rate	36	0.001
@NODE	13
packet_to_destination_rate	38	0.002
@NODE	13
packet_to_destination_rate	40	0.003
@NODE	13
packet_to_destination_rate	41	0.002
@NODE	13
packet_to_destination_rate	42	0.002
@NODE	13
packet_to_destination_rate	43	0.003
@NODE	13
packet_to_destination_rate	44	0.002
@NODE	13
packet_to_destination_rate	48	0.004
@NODE	14
packet_to_destination_rate	15	0.008
@NODE	14
packet_to_destination_rate	18	0.002
@NODE	14
packet_to_destination_rate	19	0.002
@NODE	15
packet_to_destination_rate	16	0.005
@NODE	15
packet_to_destination_rate	17	0.005
@NODE	15
packet_to_destination_rate	18	0.003
@NODE	15
packet_to_destination_rate	19	0.004
@NODE	15
packet_to_destination_rate	22	0.001
@NODE	15
packet_to_destination_rate	23	0.002
@NODE	15
packet_to_destination_rate	24	0.002
@NODE	15
packet_to_destination_rate	30	0.001
@NODE	15
packet_to_destination_rate	45	0.001
@NODE	15
packet_to_destination_rate	48	0.001
@NODE	16
packet_to_destination_rate	17	0.007
@NODE	16
packet_to_destination_rate	24	0.002
@NODE	16
packet_to_destination_rate	30	0.001
@NODE	16
packet_to_destination_rate	35	0.002
@NODE	16
packet_to_destination_rate	43	0.001
@NODE	16
packet_to_destination_rate	45	0.001
@NODE	16
packet_to_destination_rate	48	0.002
@NODE	17
packet_to_destination_rate	18	0.001
@NODE	17
packet_to_destination_rate	20	0.001
@NODE	17
packet_to_destination_rate	23	0.002
@NODE	17
packet_to_destination_rate	24	0.004
@NODE	17
packet_to_destination_rate	25	0.002
@NODE	17
packet_to_destination_rate	28	0.002
@NODE	17
packet_to_destination_rate	30	0.013
@NODE	17
packet_to_destination_rate	31	0.001
@NODE	17
packet_to_destination_rate	34	0.002
@NODE	17
packet_to_destination_rate	35	0.004
@NODE	17
packet_to_destination_rate	36	0.002
@NODE	17
packet_to_destination_rate	38	0.001
@NODE	17
packet_to_destination_rate	40	0.003
@NODE	17
packet_to_destination_rate	41	0.001
@NODE	17
packet_to_destination_rate	42	0.002
@NODE	17
packet_to_destination_rate	43	0.002
@NODE	17
packet_to_destination_rate	44	0.001
@NODE	17
packet_to_destination_rate	45	0.002
@NODE	17
packet_to_destination_rate	47	0.001
@NODE	17
packet_to_destination_rate	48	0.005
@NODE	18
packet_to_destination_rate	19	0.014
@NODE	18
packet_to_destination_rate	20	0.001
@NODE	18
packet_to_destination_rate	23	0.007
@NODE	18
packet_to_destination_rate	24	0.001
@NODE	18
packet_to_destination_rate	25	0.001
@NODE	18
packet_to_destination_rate	28	0.001
@NODE	18
packet_to_destination_rate	30	0.001
@NODE	18
packet_to_destination_rate	31	0.001
@NODE	18
packet_to_destination_rate	36	0.001
@NODE	18
packet_to_destination_rate	38	0.001
@NODE	18
packet_to_destination_rate	40	0.001
@NODE	18
packet_to_destination_rate	41	0.001
@NODE	18
packet_to_destination_rate	42	0.001
@NODE	18
packet_to_destination_rate	43	0.001
@NODE	18
packet_to_destination_rate	44	0.001
@NODE	18
packet_to_destination_rate	48	0.001
@NODE	19
packet_to_destination_rate	22	0.001
@NODE	19
packet_to_destination_rate	23	0.016
@NODE	19
packet_to_destination_rate	25	0.002
@NODE	19
packet_to_destination_rate	33	0.002
@NODE	19
packet_to_destination_rate	35	0.002
@NODE	19
packet_to_destination_rate	40	0.002
@NODE	20
packet_to_destination_rate	21	0.009
@NODE	20
packet_to_destination_rate	22	0.004
@NODE	20
packet_to_destination_rate	23	0.001
@NODE	20
packet_to_destination_rate	24	0.002
@NODE	20
packet_to_destination_rate	25	0.001
@NODE	20
packet_to_destination_rate	28	0.001
@NODE	20
packet_to_destination_rate	30	0.001
@NODE	20
packet_to_destination_rate	31	0.001
@NODE	20
packet_to_destination_rate	36	0.001
@NODE	20
packet_to_destination_rate	38	0.001
@NODE	20
packet_to_destination_rate	40	0.001
@NODE	20
packet_to_destination_rate	41	0.001
@NODE	20
packet_to_destination_rate	42	0.001
@NODE	20
packet_to_destination_rate	43	0.001
@NODE	20
packet_to_destination_rate	44	0.001
@NODE	20
packet_to_destination_rate	48	0.001
@NODE	21
packet_to_destination_rate	22	0.01
@NODE	21
packet_to_destination_rate	23	0.001
@NODE	21
packet_to_destination_rate	24	0.004
@NODE	21
packet_to_destination_rate	35	0.002
@NODE	21
packet_to_destination_rate	40	0.003
@NODE	21
packet_to_destination_rate	48	0.002
@NODE	22
packet_to_destination_rate	23	0.006
@NODE	22
packet_to_destination_rate	24	0.003
@NODE	22
packet_to_destination_rate	34	0.001
@NODE	22
packet_to_destination_rate	36	0.001
@NODE	22
packet_to_destination_rate	38	0.002
@NODE	22
packet_to_destination_rate	48	0.001
@NODE	23
packet_to_destination_rate	24	0.008
@NODE	23
packet_to_destination_rate	25	0.001
@NODE	23
packet_to_destination_rate	28	0.002
@NODE	23
packet_to_destination_rate	30	0.002
@NODE	23
packet_to_destination_rate	31	0.001
@NODE	23
packet_to_destination_rate	34	0.001
@NODE	23
packet_to_destination_rate	35	0.001
@NODE	23
packet_to_destination_rate	36	0.001
@NODE	23
packet_to_destination_rate	38	0.002
@NODE	23
packet_to_destination_rate	40	0.003
@NODE	23
packet_to_destination_rate	41	0.002
@NODE	23
packet_to_destination_rate	42	0.004
@NODE	23
packet_to_destination_rate	43	0.003
@NODE	23
packet_to_destination_rate	44	0.004
@NODE	23
packet_to_destination_rate	45	0.001
@NODE	23
packet_to_destination_rate	48	0.002
@NODE	24
packet_to_destination_rate	25	0.001
@NODE	24
packet_to_destination_rate	27	0.002
@NODE	24
packet_to_destination_rate	28	0.004
@NODE	24
packet_to_destination_rate	30	0.005
@NODE	24
packet_to_destination_rate	31	0.002
@NODE	24
packet_to_destination_rate	33	0.002
@NODE	24
packet_to_destination_rate	34	0.001
@NODE	24
packet_to_destination_rate	35	0.004
@NODE	24
packet_to_destination_rate	36	0.001
@NODE	24
packet_to_destination_rate	38	0.001
@NODE	24
packet_to_destination_rate	40	0.002
@NODE	24
packet_to_destination_rate	41	0.001
@NODE	24
packet_to_destination_rate	42	0.003
@NODE	24
packet_to_destination_rate	43	0.002
@NODE	24
packet_to_destination_rate	44	0.003
@NODE	24
packet_to_destination_rate	45	0.001
@NODE	24
packet_to_destination_rate	48	0.002
@NODE	25
packet_to_destination_rate	26	0.006
@NODE	25
packet_to_destination_rate	28	0.001
@NODE	25
packet_to_destination_rate	30	0.003
@NODE	25
packet_to_destination_rate	31	0.001
@NODE	25
packet_to_destination_rate	36	0.001
@NODE	25
packet_to_destination_rate	38	0.001
@NODE	25
packet_to_destination_rate	40	0.001
@NODE	25
packet_to_destination_rate	41	0.001
@NODE	25
packet_to_destination_rate	42	0.001
@NODE	25
packet_to_destination_rate	43	0.001
@NODE	25
packet_to_destination_rate	44	0.001
@NODE	25
packet_to_destination_rate	48	0.001
@NODE	26
packet_to_destination_rate	27	0.009
@NODE	26
packet_to_destination_rate	28	0.004
@NODE	26
packet_to_destination_rate	30	0.002
@NODE	27
packet_to_destination_rate	28	0.001
@NODE	27
packet_to_destination_rate	30	0.002
@NODE	27
packet_to_destination_rate	34	0.001
@NODE	28
packet_to_destination_rate	29	0.002
@NODE	28
packet_to_destination_rate	30	0.006
@NODE	28
packet_to_destination_rate	31	0.002
@NODE	28
packet_to_destination_rate	34	0.001
@NODE	28
packet_to_destination_rate	35	0.001
@NODE	28
packet_to_destination_rate	36	0.001
@NODE	28
packet_to_destination_rate	38	0.001
@NODE	28
packet_to_destination_rate	40	0.002
@NODE	28
packet_to_destination_rate	41	0.001
@NODE	28
packet_to_destination_rate	42	0.002
@NODE	28
packet_to_destination_rate	43	0.002
@NODE	28
packet_to_destination_rate	44	0.002
@NODE	28
packet_to_destination_rate	45	0.001
@NODE	28
packet_to_destination_rate	48	0.001
@NODE	29
packet_to_destination_rate	30	0.002
@NODE	30
packet_to_destination_rate	31	0.004
@NODE	30
packet_to_destination_rate	32	0.001
@NODE	30
packet_to_destination_rate	34	0.005
@NODE	30
packet_to_destination_rate	35	0.001
@NODE	30
packet_to_destination_rate	36	0.002
@NODE	30
packet_to_destination_rate	38	0.001
@NODE	30
packet_to_destination_rate	40	0.002
@NODE	30
packet_to_destination_rate	41	0.001
@NODE	30
packet_to_destination_rate	42	0.002
@NODE	30
packet_to_destination_rate	43	0.002
@NODE	30
packet_to_destination_rate	44	0.002
@NODE	30
packet_to_destination_rate	45	0.003
@NODE	30
packet_to_destination_rate	47	0.001
@NODE	30
packet_to_destination_rate	48	0.003
@NODE	31
packet_to_destination_rate	32	0.009
@NODE	31
packet_to_destination_rate	35	0.001
@NODE	31
packet_to_destination_rate	36	0.002
@NODE	31
packet_to_destination_rate	38	0.001
@NODE	31
packet_to_destination_rate	40	0.001
@NODE	31
packet_to_destination_rate	41	0.001
@NODE	31
packet_to_destination_rate	42	0.001
@NODE	31
packet_to_destination_rate	43	0.001
@NODE	31
packet_to_destination_rate	44	0.001
@NODE	31
packet_to_destination_rate	45	0.001
@NODE	31
packet_to_destination_rate	48	0.001
@NODE	32
packet_to_destination_rate	33	0.01
@NODE	33
packet_to_destination_rate	34	0.002
@NODE	33
packet_to_destination_rate	44	0.001
@NODE	34
packet_to_destination_rate	35	0.001
@NODE	34
packet_to_destination_rate	36	0.001
@NODE	34
packet_to_destination_rate	38	0.001
@NODE	34
packet_to_destination_rate	40	0.001
@NODE	34
packet_to_destination_rate	44	0.001
@NODE	34
packet_to_destination_rate	45	0.003
@NODE	34
packet_to_destination_rate	47	0.001
@NODE	34
packet_to_destination_rate	48	0.002
@NODE	35
packet_to_destination_rate	36	0.008
@NODE	35
packet_to_destination_rate	42	0.001
@NODE	35
packet_to_destination_rate	43	0.001
@NODE	35
packet_to_destination_rate	44	0.001
@NODE	35
packet_to_destination_rate	48	0.002
@NODE	36
packet_to_destination_rate	38	0.001
@NODE	36
packet_to_destination_rate	40	0.001
@NODE	36
packet_to_destination_rate	41	0.001
@NODE	36
packet_to_destination_rate	42	0.001
@NODE	36
packet_to_destination_rate	43	0.001
@NODE	36
packet_to_destination_rate	44	0.001
@NODE	36
packet_to_destination_rate	45	0.002
@NODE	36
packet_to_destination_rate	47	0.001
@NODE	36
packet_to_destination_rate	48	0.003
@NODE	37
packet_to_destination_rate	38	0.008
@NODE	37
packet_to_destination_rate	39	0.005
@NODE	37
packet_to_destination_rate	40	0.002
@NODE	37
packet_to_destination_rate	41	0.001
@NODE	38
packet_to_destination_rate	40	0.002
@NODE	38
packet_to_destination_rate	41	0.001
@NODE	38
packet_to_destination_rate	42	0.001
@NODE	38
packet_to_destination_rate	43	0.001
@NODE	38
packet_to_destination_rate	44	0.001
@NODE	38
packet_to_destination_rate	48	0.002
@NODE	39
packet_to_destination_rate	40	0.006
@NODE	39
packet_to_destination_rate	42	0.002
@NODE	40
packet_to_destination_rate	41	0.002
@NODE	40
packet_to_destination_rate	42	0.006
@NODE	40
packet_to_destination_rate	43	0.003
@NODE	40
packet_to_destination_rate	44	0.002
@NODE	40
packet_to_destination_rate	45	0.001
@NODE	40
packet_to_destination_rate	48	0.001
@NODE	41
packet_to_destination_rate	42	0.002
@NODE	41
packet_to_destination_rate	43	0.001
@NODE	41
packet_to_destination_rate	44	0.001
@NODE	41
packet_to_destination_rate	48	0.001
@NODE	42
packet_to_destination_rate	43	0.003
@NODE	42
packet_to_destination_rate	44	0.002
@NODE	42
packet_to_destination_rate	45	0.002
@NODE	42
packet_to_destination_rate	48	0.001
@NODE	43
packet_to_destination_rate	44	0.007
@NODE	43
packet_to_destination_rate	45	0.001
@NODE	43
packet_to_destination_rate	48	0.002
@NODE	44
packet_to_destination_rate	45	0.001
@NODE	44
packet_to_destination_rate	48	0.001
@NODE	45
packet_to_destination_rate	46	0.005
@NODE	45
packet_to_destination_rate	47	0.008
@NODE	45
packet_to_destination_rate	48	0.006
@NODE	46
packet_to_destination_rate	47	0.01
@NODE	46
packet_to_destination_rate	48	0.002
@NODE	47
packet_to_destination_rate	48	0.006
